<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carga de Archivo ASM</title>
    <link th:href="@{/uploadStyle.css}" rel="stylesheet"  />
</head>
<body>
    <h1>Carga de Archivo ASM</h1>
    
    <form th:action="@{/asm/procesarArchivo}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".asm" required />
        <button type="submit">Cargar Archivo</button>
    </form>
</body>
</html>
